body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
  }


/* Kode til den øverste del af siden */

.top{
    background-color: #1F2937;
    color: white;
    max-width: 100%;
}

/* Kode til header */

.header{
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    width: 200px;
    padding-top: 14px;
    padding-left: 50px;
}

.logo:hover{
    cursor:pointer;
}

.headerlink{
    display: flex;
    font-size: 18px;
    flex: 1;
    padding-top: 20px;
    justify-content: center;
    margin-left: 100px;
}



.headerlinkbox{
    padding-left: 50px;
}

.headerlink:hover{
    cursor:pointer;
}

/* Kode til tekst og billede under header */

.underheader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.topleft{
    padding: 10px;
    max-width: 500px;
}

.awtext{
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}


.smtext{
    font-size: 18px;
    color: #E5E7EB
}

.button{
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 7px;
    padding: 6px 30px 6px 30px;
    font-weight: 600;
    margin-top: 15px;
}

.button:hover{
    background-color: #235ebc;
    cursor:pointer;
}
.button:active{
    background-color: #3882F6;
}


/* Kode til miderste del med blå bokse */
.midtop{
    width: 2000px;
    
}

.linebox{
    display: flex;
    align-items: center;
    
}

.bluebox{
    flex-direction: row;
    border: solid;
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 7px;
    margin: 10px;
}



.midbot{
    
    background-color: #E5E7EB;
    width: 2000px;


}


