.website{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

.top{
    background-color: #1F2937;
    color: white;
    width: 2000px;
    max-width: 100%;
}
.header{
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
}

.topleft{
    justify-content: space-evenly;
    padding: 10px;
    justify-content: center;
}

.logo{
    font-weight: 900;
    width: 200px;
    padding: 50px;
}


.headerlink{
    display: flex;
    flex: 1;
    width: 100px;
    padding: 50px;
    justify-content: space-evenly;
}

.midtop{
    width: 2000px;
    
}
.midbot{
    
    background-color: #E5E7EB;
    width: 2000px;


}

.button{
    background-color: #3882F6;
    border: none;
    border-radius: 15px;
}
.button:hover{
    background-color: #235ebc;
    cursor:pointer;
}
.button:active{
    background-color: #3882F6;
}
.linebox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.bluebox{
    background-color: red;
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-width: 5px;
    margin: 10px;
}